@using PwnedProfiler.Logic.Models
@model Dictionary<string, List<PwnedProfiler.Logic.Models.Breach>>
@{
    ViewData["Title"] = "PwnedProfiler";
}

<div class="row">
    <div class="col-md-12">
        <h2>Profile account using HIBP API</h2>
        <p>Check which information has been leaked in data breaches</p>
        <p>
        @using (Html.BeginForm())
        {
            <input name="accountName" placeholder="email address or username" value="@ViewBag.input" type="text" /><br />
            <input type="submit" value="Search"/>
        }
        </p>
    </div>


</div>

@if (Model != null)
{
    if (Model.Count == 0)
    {
        <div class="col-md-8">
            Congratulations, your account has not (yet) been pwned.
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-10">
                <ul>
                    @foreach (var field in Model)
                    {
                        <li>
                            <span data-dataclass class="btn-link" style="cursor: pointer">@field.Key</span>
                            <ul style="display: none">
                                @foreach (var breach in field.Value)
                                {
                                    <li>
                                        <strong>@breach.Title</strong><br />
                                        @Html.Raw(breach.Description)
                                    </li>
                                }
                            </ul>
                        </li>

                    }
                </ul>
            </div>
        </div>
    }
}